<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Midle name:</strong>
  <%= @person.midle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @person.sex ? "Male" : "Female" %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @person.full_name %>
</p>

<table>
  <thead>
    <% @cases.each do |c| %>
      <th><%= c.name %></th>
    <% end %>
  </thead>
  <tbody>
    <% @full_name_cases.each do |fnc| %>
      <td><%= fnc.full_name %></td>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
